<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p id="notice"><%= notice %></p>
    <div class="panel panel-default">
      <div class="panel-heading">Password</div>
      <div class="panel-body">
      <%= @message.body %>
      </div>
    </div>

    <div>
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Destinations</li>
        <% @message.destinations.each do |destination| %>
          <li class="list-group-item"><%= destination.email %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
